<%- include("./partials/header") %>

<%- include("./partials/nav") %>
  
<h1 class="Heading">Book Store Entry</h1>

<form action="">
  <input type="text" placeholder="Enter Name">
  <input type="text" placeholder="Enter Price">
</form>


  <%- include("./partials/footer") %>