*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}


nav a{
  font-size: 1.5vw;
  text-decoration: none;
  color: white;
}

.Heading{
  margin-left: 3vw;
}

form{
  margin-left: 3vw;
}