*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
 
}

.custom-bg {
  background-color: rgba(212, 212, 212, 0.628); /* Gray color with 50% opacity */
}

nav{
  padding: 20px 250px;
  font-family: monospace;
}

nav a{
  font-size: 2vw;
  text-decoration: none;
  color: white;
}

.btn-container a{
  font-size: 1vw;
  text-decoration: none;
  color: white;
}

.cards{
  width: 20vw;
  height: 55vh;
  background: white;
  padding: 15px;
  border: 1px solid black;
  box-shadow:  20px 20px 20px #777777,
             -20px -20px 20px #ffffff;

}

.cards h3{
  /* font-size: 1.5vw; */
}

.cards_container {
  width: 100%;
  min-height: 50vh;
  display: flex;
  
  padding: 0 7vw;
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  gap: 20px;
}



.Heading{
  margin-left: 3vw;
  text-align: center;
  font-size: 3vw;
  padding: 3vw;
  font-weight: 900;
  font-family: cursive;
}

form{
  margin-left: 3vw;
}