*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}

nav{
  height: 10%;
  padding: 3vw 3vw;
  display: flex; 
  align-items: center;
  gap: 40px;
  background-color: rgb(0, 0, 0);
}

nav a{
  font-size: 1.5vw;
  text-decoration: none;
  color: white;
}

.Heading{
  margin-left: 3vw;
}

form{
  margin-left: 3vw;
}